---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Coursework at Athabasca University is a bit different than what you might be used to. When it comes to a course, say Sociology of Religion (SOCI231), you can be the author, the coordinator, and the tutor all at one.  

Authors write the course. 

Coordinators manage it (organize updates from the authors, manage the tutors who teach the course).

Tutors teach it (interact with students, mark, etc.). 

As faculty at AU I have written all the courses listed below and coordinated them at some point. I also no longer coordinate all the courses listed below, although for a long time I did. I have tutored a few as well, but currently I only tutor two courses, Sociology of Religion and Sociology of Information Technology.  


{% for post in site.teaching %}
  {% include archive-single.html %}
{% endfor %}
