---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Coursework at Athabasca University is a bit different than what you might be used to. When it comes to a course, say Sociology of Religion (SOCI231), you can be the author, the coordinator, and the tutor all at one.  

Authors write the course.  

Coordinators manage it (organize updates from the authors, manage the tutors who teach the course).

Tutors teach it (interact with students, mark, etc.). 

As faculty at AU, I have written all the courses listed below. I also coordinated them all and tutor most at some point. I no longer coordinate all the courses and 
I only tutor Sociology of Religion and Sociology of Information Technology. 

I keep a couple years worth of student reflections on the course over in the "<a href="https://esosteric.lightningpath.org/student-work/">Student Reflections</a> section of the website. 

{% for post in site.teaching %}
  {% include archive-single.html %}
{% endfor %}
