---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

{% assign posts = site.student_work | sort: 'date' | reverse %}

<div class="entries-list">
  {% for post in posts %}
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

      <p class="archive__item-meta">
        {% if post.date %}
          <strong>Date:</strong> {{ post.date | date: "%B %d, %Y" }}<br>
        {% endif %}
        
        {% if post.category %}
          <strong>Category:</strong> {{ post.category }}<br>
        {% endif %}

        {% if post.courselink and post.coursename %}
          <strong>Course:</strong> <a href="{{ post.courselink }}" target="_blank" rel="noopener">{{ post.coursename }}</a><br>
        {% elsif post.courselink %}
          <strong>Course:</strong> <a href="{{ post.courselink }}" target="_blank" rel="noopener">{{ post.courselink }}</a><br>
        {% endif %}
      </p>

     {% if post.teaser %}
       <p class="archive__item-excerpt"><em>{{ post.teaser }}</em></p>
     {% elsif post.excerpt %}
       <p class="archive__item-excerpt"><em>{{ post.excerpt | markdownify | strip_html | strip_newlines }}</em></p>
     {% endif %}
    </article>
  {% endfor %}
  </div>
</div>
